<%- include('../partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <div id="page-heading" class="main-div">
                <h1>Browse Recipes</h1>
            </div>
        </div>
        <div class="container">
            <% recipes.forEach(function(recipe) { %>
                <% if(recipe.public) { %>
                    <div id="recipe-preview" class="main-div">
                        <div id="user-header">
                            <img alt="avatar" id="avatar" src="<%= recipe.user.avatar %>" referrerpolicy="no-referrer">
                            <div id="user-info">
                                <div id="user-name"><%= recipe.user.name %></div>
                                <text id="date"><%= recipe.createdAt.toLocaleDateString() %></text>
                            </div>
                        </div>
                        <h2><%= recipe.title %></h2>
                        <div class="recipe-bean-data">
                            <strong>Roaster:</strong> <%= recipe.roaster %><br> 
                            <strong>Varietal:</strong> <%= recipe.beanVarietal %><br>
                            <strong>Process:</strong> <%= recipe.processMethod %><br> 
                            <strong>Roast:</strong> <%= recipe.roastLevel %><br> 
                        </div>

                        <a href="/recipes/<%= recipe._id %>" class="button-main">
                            DETAILS <img src="/assets/images/arrow-white.svg" class="arrow">
                        </a>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </section>
</div>


<%- include('../partials/footer') %>