<%- include('../partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <div class="main-div">
                <h1>Create a Recipe</h1>
                <form id="new-recipe" action="/recipes" method="POST">
                    <div class="full">
                        <label>Title:</label>
                        <input type="text" name="title">
                    </div>
                    <div class="input-row">
                        <div class="quarter">
                            <label>Roaster:</label>
                            <input type="text" name="roaster">
                        </div>
                        <div class="quarter">
                            <label >Varietal:</label>
                            <select name="beanVarietal">
                                <option disabled selected value>Select One...</option>
                                <% bean.forEach(function(varietal, idx) { %>
                                    <option value="<%= varietal %>">
                                        <%= varietal %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="quarter">
                            <label >Process:</label>
                            <select name="processMethod">
                                <option disabled selected value>Select One...</option>
                                <% process.forEach(function(method, idx) { %>
                                    <option value="<%= method %>">
                                        <%= method %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="quarter">
                            <label >Roast Level:</label>
                            <select name="roastLevel">
                                <option disabled selected value>Select One...</option>
                                <% roast.forEach(function(level, idx) { %>
                                    <option value="<%= level %>">
                                        <%= level %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="quarter">
                            <label >Grind Size:</label>
                            <select name="grindSize">
                                <option disabled selected value>Select One...</option>
                                <% grind.forEach(function(size, idx) { %>
                                    <option value="<%= size %>">
                                        <%= size %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="fit">
                            <label >Coffee(g):</label>
                            <input type="number" name="gramsCoffee">
                        </div>
                        <div class="fit">
                            <label >Water(g):</label>
                            <input type="number" name="gramsWater">
                        </div>
                        <div class="three">
                            <label >Water Temp.:</label>
                            <input type="number" name="waterTemp">
                            <select class="number-select" name="tempUnit" id="tempUnit">
                                <option value="째F">째F</option>
                                <option value="째C">째C</option>
                                <option value="Kelvin">Kelvin</option>
                            </select>                       
                        </div>
                    </div>           
                    <label >Notes:</label>
                    <textarea class="comment-box" name="notes" id="notes" cols="30" rows="10" placeholder="Give us some relevant information... e.g. bloom water amount & time, subsequent pours, etc"></textarea>
                    <div class="flex">
                        <input type="checkbox" name="public">
                        <label>Post to Public Board</label>
                    </div>
                    
                    <button class="button-main" type="submit">ADD RECIPE<img src="/assets/images/arrow-white.svg" class="arrow"></button>
                </form>
            </div>

        </div>
    </section>
</div>


<%- include('../partials/footer') %>