<%- include('../partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <h1>Create a Recipe</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <form id="new-recipe" action="/recipes" method="POST">
                <label >Title:</label>
                <input type="text" name="title">

                <div id="bean-data">

                    <label >Roaster:</label>
                    <input type="text" name="roaster">
    
                    <label >Varietal:</label>
                    <select name="beanVarietal">
                        <option disabled selected value>Select One...</option>
                        <% bean.forEach(function(varietal, idx) { %>
                            <option value="<%= varietal %>">
                                <%= varietal %>
                            </option>
                        <% }); %>
                    </select>
                    
                    <label >Process:</label>
                    <select name="processMethod">
                        <option disabled selected value>Select One...</option>
                        <% process.forEach(function(method, idx) { %>
                            <option value="<%= method %>">
                                <%= method %>
                            </option>
                        <% }); %>
                    </select>
                    
                    <label >Roast Level:</label>
                    <select name="roastLevel">
                        <option disabled selected value>Select One...</option>
                        <% roast.forEach(function(level, idx) { %>
                            <option value="<%= level %>">
                                <%= level %>
                            </option>
                        <% }); %>
                    </select>
                </div>

                <div id="recipe-data">
                    <label >Grind Size:</label>
                    <select name="grindSize">
                        <option disabled selected value>Select One...</option>
                        <% grind.forEach(function(size, idx) { %>
                            <option value="<%= size %>">
                                <%= size %>
                            </option>
                        <% }); %>
                    </select>
    
                    <label >Coffee(g):</label>
                    <input type="number" name="gramsCoffee">
    
                    <label >Water(g):</label>
                    <input type="number" name="gramsWater">
                    
                    <label >Water Temp.:</label>
                    <input type="number" name="waterTemp">
                    <select name="tempUnit" id="tempUnit">
                        <option value="째F">째F</option>
                        <option value="째C">째C</option>
                        <option value="Kelvin">Kelvin</option>
                    </select>
                    
                    <label >Notes:</label>
                    <textarea name="notes" id="notes" cols="30" rows="10">Give us relevant information on your process- e.g. "50g bloom, at 30s 150g of water, etc</textarea>
                    <label>Post to Public Board</label>
                    <input type="checkbox" name="public">
                </div>
                
                <button type="submit">Add Recipe</button>
            </form>

        </div>
    </section>
</div>


<%- include('../partials/footer') %>