<%- include('../partials/header') %>

<div class="main">
    <section>
        <div class="container">
            <div class="main-div">
                <div id="user-header">
                    <img alt="avatar" id="avatar" src="<%= recipe.user.avatar %>" referrerpolicy="no-referrer">
                    <div class="title-data">
                        <% if (recipe.branch) { %>
                            <div class="flex">
                                <img class="branch-icon" src="/assets/images/branch.svg" alt="Icon of a branch">
                                <h1><%= recipe.title %></h1>
                            </div>
                            <a href="/recipes/<%= recipe.branch %>"><h4>Branched | <%= recipe.createdAt.toLocaleDateString() %></h4></a>
                        <% } else { %>
                            <h1><%= recipe.title %></h1>
                            <a href="/users/<%= recipe.user.id %>"><h4><%= recipe.user.name %> | <%= recipe.createdAt.toLocaleDateString() %></h4></a>
                        <% } %>
                    </div>
                </div>
                <% if (user.equals(recipe.user)) { %>
                    <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button class="button-secondary" type="submit"></button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="container">
            <div class="main-div">
                <div class="bean-data">
                    <h3><%= recipe.roaster %></h3>
                    <h2><%= recipe.beanVarietal %></h2>
                    <h4><%= recipe.processMethod %> | <%= recipe.roastLevel %></h4>
                </div>
                <div class="recipe-data">
                    <div><strong>Grind:</strong> <%= recipe.grindSize %></div>
                    <div><strong>Coffee:</strong> <%= recipe.gramsCoffee %>g</div>
                    <div><strong>Water:</strong> <%= recipe.gramsWater %>g</div>
                    <div><strong>Temp:</strong> <%= recipe.waterTemp %><%=recipe.tempUnit%></div>
                </div>
                <div class="recipe-notes">
                    <strong>Notes:</strong> <%= recipe.notes %>
                </div>
                <div class="button-grid">
                    <% if (user.equals(recipe.user)) { %>
                        <a class="button-main" href="/recipes/<%= recipe._id %>/edit">TWEAK<img src="/assets/images/arrow-white.svg" class="arrow"></a>
                    <% } else if (!recipe.branch) { %>
                        <a class="button-main" href="/recipes/<%= recipe._id %>/branch">BRANCH<img src="/assets/images/arrow-white.svg" class="arrow"></a>
                    <% } else %>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="main-div">
                <div id="create-review">
                    <h3>Leave a Note:</h3>
                    <form id="add-review-form" action="/recipes/<%= recipe._id %>/reviews" method="POST">
                        <select class="dropdown" name="rating">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                        </select>
                        <textarea name="comment" class="comment-box" rows="5" placeholder="Be constructive..."></textarea>
                        <button class="button-main" type="submit">SUBMIT<img src="/assets/images/arrow-white.svg" class="arrow"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-div">
                <h2>Notes</h2>
                <% recipe.reviews.sort((a, b) => b.createdAt - a.createdAt) %>
                <% if (recipe.reviews.length) { %>
                    <% recipe.reviews.forEach(function(review) { %>
                        <div id="review">
                            <div id="user-header">
                                <img alt="avatar" id="avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer">
                                <div id="user-info">
                                    <div id="user-name"><%= review.userName %></div>
                                    <%= review.rating %> out of 5
                                    <text id="date"><%= review.createdAt.toLocaleDateString() %></text>
                                    <div class="comment"><%= review.comment %></div>
                                </div>
                            </div>
                            <% if (user?._id.equals(review.user)) { %>
                                <form class="delete-form" action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                    <button class="button-secondary" type="submit"></button>
                                </form>
                            <% } %>
                        </div>
                    <% }); %>
                <% } else { %>
                    No Reviews Yet
                <% } %>
            </div>
        </div>
    </section>
</div>


<%- include('../partials/footer') %>